In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model   import LinearRegression

In [4]:
import pandas as pd

In [6]:
df=pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [7]:
df.columns
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [8]:
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petrol,2014,240000,60000,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,Petrol,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner

In [9]:
df.tail(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
4330,Tata Indica Vista Aqua 1.4 TDI,2010,150000,130000,Diesel,Individual,Manual,Second Owner
4331,Ford EcoSport 1.5 TDCi Titanium BSIV,2015,530000,175000,Diesel,Individual,Manual,Third Owner
4332,Mahindra Scorpio S2 7 Seater,2015,750000,120000,Diesel,Individual,Manual,First Owner
4333,Maruti Ritz VDi,2012,225000,90000,Diesel,Individual,Manual,Second Owner
4334,Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV,2012,600000,170000,Diesel,Individual,Manual,First Owner
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [11]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [12]:
df.shape

(4340, 8)

In [13]:
df.isnull()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
4335,False,False,False,False,False,False,False,False
4336,False,False,False,False,False,False,False,False
4337,False,False,False,False,False,False,False,False
4338,False,False,False,False,False,False,False,False
4339,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [15]:
df.isnull().sum().sum()

np.int64(0)

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["name"]=le.fit_transform(df["name"])
df["fuel"]=le.fit_transform(df["fuel"])
df["seller_type"]=le.fit_transform(df["seller_type"])
df["transmission"]=le.fit_transform(df["transmission"])
df["owner"]=le.fit_transform(df["owner"])
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,775,2007,60000,70000,4,1,1,0
1,1041,2007,135000,50000,4,1,1,0
2,505,2012,600000,100000,1,1,1,0
3,118,2017,250000,46000,4,1,1,0
4,279,2014,450000,141000,1,1,1,2
...,...,...,...,...,...,...,...,...
4335,602,2014,409999,80000,1,1,1,2
4336,601,2014,409999,80000,1,1,1,2
4337,777,2009,110000,83000,4,1,1,2
4338,381,2016,865000,90000,1,1,1,0
4339,1154,2016,225000,40000,4,1,1,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   int64
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   int64
 5   seller_type    4340 non-null   int64
 6   transmission   4340 non-null   int64
 7   owner          4340 non-null   int64
dtypes: int64(8)
memory usage: 271.4 KB

In [18]:
df.duplicated().sum()

np.int64(763)

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
x=df.drop(["selling_price"],axis=1)
x

      name  year  km_driven  fuel  seller_type  transmission  owner
0      775  2007      70000     4            1             1      0
1     1041  2007      50000     4            1             1      0
2      505  2012     100000     1            1             1      0
3      118  2017      46000     4            1             1      0
4      279  2014     141000     1            1             1      2
...    ...   ...        ...   ...          ...           ...    ...
4335   602  2014      80000     1            1             1      2
4336   601  2014      80000     1            1             1      2
4337   777  2009      83000     4            1             1      2
4338   381  2016      90000     1            1             1      0
4339  1154  2016      40000     4            1             1      0

[3577 rows x 7 columns]

In [21]:
y=df["selling_price"]
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 3577, dtype: int64

In [22]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
x

array([[ 0.0465849 , -1.40256584,  0.01575368, ...,  0.45738437,
         0.30912612, -0.70888558],
       [ 0.71648628, -1.40256584, -0.4046503 , ...,  0.45738437,
         0.30912612, -0.70888558],
       [-0.63339019, -0.22641758,  0.64635965, ...,  0.45738437,
         0.30912612, -0.70888558],
       ...,
       [ 0.05162175, -0.93210654,  0.28901627, ...,  0.45738437,
         0.30912612,  0.85731808],
       [-0.94567504,  0.71450103,  0.43615766, ...,  0.45738437,
         0.30912612, -0.70888558],
       [ 1.00106845,  0.71450103, -0.61485229, ...,  0.45738437,
         0.30912612, -0.70888558]], shape=(3577, 7))

In [23]:
 from sklearn.model_selection import train_test_split
 x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
 print(x_train.shape)
 print(x_test.shape)
 print(y_train.shape)
 print(y_test.shape)
 from sklearn.linear_model import LinearRegression
 lr=LinearRegression()
 lr.fit(x_train,y_train)
 y_pred=lr.predict(x_test)
 y_pred

(2861, 7)
(716, 7)
(2861,)
(716,)

array([ 4.90229693e+05,  4.67545283e+05,  5.92765884e+05,  1.54363213e+06,
        6.00219042e+04,  3.27109381e+05,  1.35386780e+05,  6.84839203e+05,
        7.86263343e+05,  3.39578066e+05,  5.01051121e+05,  3.87839895e+05,
        7.11066643e+05,  2.67662348e+05,  4.98463941e+05,  4.19041350e+05,
        3.59148996e+05,  7.77119838e+05,  4.57521400e+05,  3.14831637e+05,
        1.59483742e+05,  2.19279808e+05,  7.45235903e+02,  5.78964999e+05,
        5.41200060e+05,  7.99700990e+05,  5.01691259e+05,  6.46560524e+05,
        5.76293229e+05,  1.34800768e+05,  5.82404423e+05,  9.24009346e+04,
        7.98285974e+04,  1.23534160e+06,  2.70923153e+05,  7.36974286e+04,
        3.91694274e+05,  2.70346644e+05,  5.13289685e+05,  7.39286235e+05,
        1.33456049e+06,  4.11662167e+05,  7.46965677e+05,  7.05320586e+05,
        4.42738614e+05,  1.99183614e+05,  1.55967006e+05,  3.76586184e+05,
        1.16291721e+05,  4.55005231e+05,  3.50367710e+05,  5.63522993e+05,
        7.06649992e+05,  4.25269363e+05,  2.63281821e+05,  5.06519885e+05,
        4.04471029e+05,  6.49193767e+05,  5.02240166e+05,  3.96291081e+05,
        3.58305010e+05,  4.38508381e+05, -4.73077664e+04,  7.46189959e+04,
        3.82378589e+05,  5.19418740e+05,  3.90122026e+05,  1.38228452e+06,
        5.88838630e+05,  2.39606480e+05,  8.25382949e+05,  4.82470991e+05,
        3.22679082e+05,  3.77868677e+05,  5.42932719e+05,  6.28386500e+05,
        3.65011194e+05,  9.01713010e+05,  6.24314768e+04, -1.88897472e+05,
        6.46429466e+05,  1.26009133e+05,  8.35667707e+05,  4.27825706e+05,
        6.68079557e+05,  1.39379556e+06,  2.82193718e+05,  2.98805302e+05,
        6.66834642e+05,  4.69438498e+05,  4.50814610e+05,  6.65578230e+05,
        3.73407939e+05,  9.29183078e+04,  3.34072110e+05,  7.60670717e+05,
       -2.74950097e+04,  4.21743442e+05,  2.00731132e+05,  6.15840227e+05,
        5.86264743e+05,  9.85913459e+04, -2.01968719e+05,  2.26188561e+05,
        1.45911083e+06,  5.68445143e+05,  2.26678884e+05,  3.56514898e+05,
        4.05916246e+05,  5.45061164e+05,  5.29360885e+05,  3.74521130e+05,
        2.96723246e+05,  1.36834253e+05, -3.88481145e+04,  2.23690111e+05,
        4.50223952e+05,  2.23071511e+05,  2.32903967e+05,  6.55301311e+05,
        6.45794137e+05,  5.19685654e+05,  2.86541498e+05,  6.46820392e+05,
        3.95261839e+05,  3.04192164e+05,  1.09903840e+06,  5.89576045e+05,
        5.08436198e+05,  7.32622150e+05,  4.48566845e+05,  4.89868737e+05,
        4.93954082e+05,  2.64984663e+05,  4.44738624e+05, -5.65982182e+04,
        1.55850471e+06,  6.45499766e+05,  2.67960149e+04,  2.53016871e+05,
        5.51742493e+05,  5.75531037e+05,  4.30737083e+04,  1.27270710e+06,
        3.87838588e+05,  6.21188957e+05,  2.07895459e+05,  5.03975519e+05,
        3.80323983e+05,  7.62923463e+05,  4.70589097e+05,  5.56686158e+05,
        7.45734853e+05,  6.58870366e+05,  5.95844719e+05,  3.42430760e+05,
        1.10361488e+06,  3.75443264e+05,  4.65710735e+05,  4.49315577e+05,
        2.38400688e+05,  9.55839957e+04,  4.93204302e+05,  3.44348931e+05,
        5.32874982e+05,  4.56154812e+05,  1.71793184e+05,  4.77587595e+05,
        6.69261338e+05,  1.09029373e+05,  6.92663789e+05,  7.40778544e+05,
        3.32478024e+05,  2.96677851e+05,  4.94394361e+05,  4.06586799e+05,
        2.14937498e+05,  3.30382424e+05,  5.54617912e+05,  3.95686133e+05,
        1.44372584e+06,  1.33564506e+05,  5.08516822e+05,  3.80225638e+05,
       -1.89782869e+05,  4.05785015e+05,  5.91180707e+05,  1.50973168e+06,
        4.00220756e+05,  4.77120412e+04,  1.33615087e+06,  2.74278007e+05,
        4.36976821e+05,  4.67152618e+05,  5.25313350e+05,  6.16223380e+05,
        3.71193345e+05,  4.85860120e+05,  4.45646710e+05,  5.25262950e+05,
        1.73918113e+05,  5.19850807e+05,  2.06978182e+05,  1.35997827e+06,
       -5.40392191e+04,  4.32813282e+05,  4.49022674e+05,  6.13210597e+05,
        7.23726075e+05,  7.89337759e+05,  2.07139622e+05,  5.03853501e+05,
        3.31646033e+05,  1.55301991e+06,  2.53096421e+05,  1.87323929e+04,
        4.02410483e+05,  4.14354071e+05,  1.25241066e+06,  7.01663325e+05,
        3.29318370e+05,  3.21204228e+05,  3.60806382e+05,  1.81329665e+05,
        1.44864170e+05,  4.06254457e+05,  1.33748754e+06, -7.10115329e+04,
        6.83569660e+05,  2.64390612e+05,  5.03461597e+05,  2.19018257e+05,
        1.78368117e+05,  1.84521720e+05,  3.19517197e+05,  7.67417648e+05,
        5.32165773e+05,  2.81365080e+05,  5.81884670e+05,  1.41341631e+05,
        3.78254646e+05,  6.40977909e+04,  1.50997823e+05,  4.34169368e+05,
        1.16844323e+05,  5.02961487e+05,  3.37300756e+05,  1.23809708e+05,
        3.46164242e+05,  6.03349910e+05,  6.13718712e+05,  6.32909667e+04,
        5.47119763e+04,  4.42959241e+05,  6.21563253e+05,  1.26367166e+06,
       -5.38442714e+03,  1.22223473e+05,  6.36449966e+05,  2.40289044e+05,
        4.28061823e+05,  4.54484822e+05,  4.37353348e+05,  5.27105585e+05,
        4.53397559e+05,  6.62224287e+05,  4.82299914e+05,  4.78807263e+05,
        5.13863581e+05,  3.38105588e+05,  4.08184640e+05,  5.63140072e+05,
        6.66040970e+05,  4.06512564e+05, -2.19491808e+05,  5.11412086e+05,
        7.34489711e+05,  3.53765591e+05,  4.06287198e+05,  1.32277418e+06,
        5.40267995e+05,  4.03745080e+05,  7.81084611e+05,  5.72126063e+05,
        4.00417684e+05,  5.10426129e+05,  6.34259936e+05,  1.73330915e+05,
        5.71655481e+05,  4.48179358e+05,  5.14889401e+05, -6.15601513e+04,
        4.78898344e+05,  7.39910814e+05,  6.41698285e+05,  6.07475976e+05,
        4.79326895e+05,  3.99103279e+04, -2.43839535e+04,  5.44962330e+05,
        7.45308566e+05,  1.79007855e+05,  7.03830028e+05,  5.88461927e+05,
        5.51719916e+05,  8.32799232e+04,  1.62497062e+05, -1.84849475e+04,
        5.34003383e+05,  4.21697421e+05,  7.28326639e+04, -3.24369891e+04,
        6.05150632e+05,  7.60966415e+05,  2.09606116e+05,  4.52126968e+05,
        2.75546639e+05,  7.66015504e+05,  3.73535227e+05,  4.99311512e+05,
        1.13373655e+05,  4.24371143e+05,  7.06229661e+05,  5.03901886e+05,
        1.52504893e+06,  5.04659974e+05,  5.02875672e+05,  1.46929505e+05,
        4.39861225e+05,  5.18229588e+05,  3.41792639e+05,  5.50565177e+05,
        9.85140375e+05,  3.80842551e+05,  5.14725591e+05,  1.74942572e+05,
        1.09283125e+04,  4.70582457e+05,  1.35051232e+06,  4.77752709e+05,
        5.13103044e+05,  6.71316143e+05,  4.35959997e+05,  2.39016490e+05,
       -1.82792228e+05,  6.25728954e+05,  3.67982125e+05,  7.02901994e+05,
        2.71367061e+04,  3.28090881e+05,  6.82039542e+05,  7.07033186e+05,
        6.94008126e+04, -2.20425586e+05,  6.50723905e+05,  5.63664285e+05,
        3.07674722e+05,  4.92651122e+05,  5.86562533e+05, -9.98694356e+04,
        5.54894704e+05,  9.76783445e+05,  3.14078234e+05,  1.71167448e+05,
       -1.09151603e+04,  4.07781193e+05,  1.41288520e+05,  7.40747168e+04,
        5.57129486e+05,  4.01122691e+05,  5.16752791e+05,  4.15975668e+05,
        4.21549066e+05,  1.31800162e+06,  4.98825893e+05,  6.05649403e+05,
        5.32031286e+05,  4.47328443e+05,  2.47883901e+05,  1.22913068e+05,
        1.72990151e+05,  1.85724247e+05, -1.26098138e+05,  4.09646364e+05,
        4.69309965e+05,  7.18117214e+05,  6.19706623e+05,  4.05834113e+05,
        7.62200834e+05,  6.52292488e+05,  6.05271217e+05,  6.74977542e+04,
        1.89791275e+05,  2.95474333e+04,  5.86265527e+05,  3.51387345e+05,
        4.79878891e+05,  4.24836539e+05,  5.20188915e+05, -2.78986717e+04,
        6.51233059e+05,  4.27561903e+05,  1.33434273e+05, -1.16044005e+04,
        5.35467786e+05,  5.98282669e+05,  4.89597837e+05,  2.81622166e+05,
        1.97469704e+05, -2.89983043e+04,  5.50994050e+05,  2.20553003e+05,
        1.20845144e+06,  7.42342507e+05,  4.81702031e+05,  5.50925883e+05,
        1.32102727e+06,  4.16999068e+05,  8.65689069e+05,  3.37290144e+04,
        1.30128503e+06,  4.96726988e+05,  7.81827632e+04,  6.04553963e+05,
        4.83558410e+05,  6.50206517e+05,  3.24777087e+05,  1.25647681e+06,
        1.04036050e+05,  8.24402215e+05,  5.20949305e+05,  7.82229543e+05,
        4.57345266e+05,  7.41280421e+05,  4.17593722e+05,  7.28955711e+05,
        1.48843031e+05,  3.98101920e+05,  1.28803317e+06,  3.10715006e+05,
        3.85296803e+05,  7.20312650e+05,  1.27703306e+05, -2.24285012e+05,
        1.27323408e+05,  1.43082445e+06,  2.90881530e+04,  3.63444933e+05,
        2.78349490e+05,  4.84287573e+05,  5.65513194e+05,  4.16603723e+05,
        6.64931044e+05,  2.89374825e+05, -5.95606739e+04,  5.00120349e+05,
        1.45541681e+06,  5.19529577e+05,  1.76799574e+05,  2.69610805e+05,
        1.25825589e+06,  2.64267308e+05,  4.07740384e+05,  4.91757072e+05,
        3.70313531e+05,  4.58874864e+05,  1.25934663e+05,  4.58499694e+05,
        1.37888041e+05,  5.33980077e+05, -2.41171159e+05,  1.78217480e+05,
        5.38827138e+05,  1.65773819e+05,  4.70589097e+05,  7.12594104e+05,
        3.80955113e+05,  7.61041939e+05,  3.51987913e+05,  5.80871650e+05,
        9.98065731e+05,  4.92178794e+05,  1.14938231e+06,  1.86478228e+04,
        1.29974862e+06, -2.06694636e+04,  6.00925372e+05,  4.56396571e+04,
        2.68799023e+05,  8.23315541e+05,  1.53694669e+06,  5.61183020e+05,
        1.26359241e+06,  7.45654663e+05,  7.80611954e+05,  5.37968862e+05,
        4.31378421e+05,  2.58829401e+05,  1.14206725e+05, -9.25310610e+04,
        4.33121494e+05,  6.99411435e+05,  7.02420279e+05,  5.05809575e+05,
        3.58775652e+05,  3.47655007e+05, -1.23758874e+05,  4.84995392e+05,
        1.67470709e+05,  2.93413746e+05,  1.08657070e+05,  1.05486364e+06,
        3.73699671e+05,  4.19705478e+05,  6.27983791e+05,  4.80352173e+05,
        5.51545654e+05,  5.40893840e+05,  1.01781442e+06, -3.22141057e+05,
        5.32072163e+05,  4.12318512e+05,  2.60957984e+05,  4.27952038e+05,
        7.21801303e+05,  6.09933757e+05,  1.02376178e+05,  7.34659429e+05,
        8.01939661e+05,  1.47061108e+05,  3.81278431e+05,  1.84909582e+05,
        3.02800251e+05,  2.63875254e+05,  2.70548489e+05, -6.09943758e+04,
        4.31185430e+05,  5.23283709e+05,  7.12337205e+05,  1.33985542e+06,
        3.62329897e+05,  5.77649685e+05,  4.94178734e+04,  7.50064830e+04,
        1.32422372e+06,  1.32886983e+05,  1.47408578e+06,  4.84490246e+05,
       -4.69081205e+04,  1.75999325e+05,  6.91630538e+05, -5.95182444e+04,
        8.02892703e+05,  4.41266318e+05,  5.93306145e+05,  1.38896425e+06,
        6.20005601e+05,  5.38364749e+05,  5.29402341e+05,  4.60990781e+05,
        6.43464458e+05,  9.70499856e+05,  3.47229256e+05,  3.98540728e+05,
        6.29084579e+04,  3.58931554e+05,  1.62884320e+05,  5.16583633e+05,
        3.36374766e+05,  4.12112238e+05,  2.43677781e+05,  1.51502401e+06,
        3.06162785e+04,  3.19093153e+05,  4.50606080e+05,  1.25017182e+06,
        8.01483779e+05,  7.18411592e+05, -1.08487573e+04,  4.25175463e+05,
        5.26300089e+05,  3.08734775e+05,  4.42581632e+05,  3.99848479e+05,
        9.20120357e+05,  2.59170994e+05,  6.41259807e+05,  4.00135587e+05,
        1.14334034e+05,  4.96181691e+05,  6.90214788e+05,  2.53556863e+04,
        6.39069168e+05,  4.93030039e+05,  1.12233789e+06,  4.30188568e+05,
        3.53760469e+05,  2.22175419e+04,  5.94846786e+05,  7.00921682e+05,
        3.37253386e+05,  1.70603830e+05,  4.43203590e+04,  6.38934583e+05,
        7.95408369e+04,  4.60700350e+05,  5.00997899e+05,  1.66188841e+05,
        7.14842867e+05,  6.40186631e+05,  5.06912569e+05,  5.81170339e+05,
        1.52699602e+05,  4.82549292e+05,  6.27725795e+05,  4.50206715e+05,
        1.39986732e+06,  3.47475572e+05,  5.47473280e+05, -8.24440607e+04,
        1.30806165e+06,  5.67678756e+05,  3.11197368e+05,  6.37694069e+05,
        1.03858265e+05,  2.53114449e+05,  4.66920945e+05,  5.09633629e+05,
       -2.14467338e+04,  1.30828388e+06,  3.51810999e+05,  2.74489886e+05,
        2.41987694e+05,  1.49394546e+06,  1.88378923e+05,  9.97473936e+04,
        6.70205036e+05,  5.22059017e+05,  4.01412101e+05,  4.99227693e+05,
        3.41517717e+05, -1.23629968e+05, -1.66146990e+05,  6.97009084e+05,
        2.93461760e+05,  2.82214812e+05,  7.60876758e+05,  3.09672170e+05,
        1.16269499e+06,  1.48202410e+06,  5.17166528e+05,  5.46244875e+05,
        5.40649406e+05,  4.62714696e+05,  4.60398907e+05,  5.76011069e+05,
        4.22930916e+05,  1.56858824e+06,  1.60813363e+05,  3.96451856e+05,
        7.17302429e+05,  2.87811396e+05,  6.72366927e+05,  7.30535427e+05,
        1.16163137e+06,  2.73302150e+05,  4.27008683e+05,  2.95719002e+05,
        5.82317727e+05,  5.14281654e+05,  5.00291454e+05,  1.27221683e+06,
       -1.24740353e+05,  4.38593590e+05,  2.81191089e+05,  7.77617640e+04,
        4.78602937e+05,  5.64579746e+05,  5.92368093e+05,  1.08436056e+06,
        1.09246996e+04,  4.88108800e+05,  2.76340898e+05,  2.65804991e+04,
        4.68328090e+05,  1.32203265e+06,  4.36985977e+05,  3.94506458e+05,
        9.61727689e+05,  1.20877087e+06,  4.52445943e+05,  6.37728121e+05,
        5.87702817e+05,  1.42312332e+06,  3.99165124e+05,  7.48449676e+05,
        1.37102892e+06,  5.27150278e+05,  5.71958492e+05,  2.18223699e+05,
        7.29654742e+05,  3.96999435e+05,  4.50593500e+05,  3.16483713e+05,
        7.46157820e+05,  7.44264859e+05, -3.98717549e+04,  4.71480116e+05,
        4.07268368e+05,  3.25557303e+05,  7.05467943e+05,  1.73282221e+05,
        6.09648815e+05,  3.08560285e+05,  3.78371563e+05, -1.03769110e+04])

In [24]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)
print(r2)
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)
print(mse)

0.3845301161683755
198263378271.34103